{% extends "accounts/base.html" %}

{% block title %} Portal {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/equipos.css") }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/date-eu.js"></script>

<style>

</style>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}
    <!-- -------------------- Comprobante list -------------------------------->
    <div class="details">
        <div class="equipos div-table">
            <div class="cardHeader">
                <h2>Equipos</h2>
            </div>
            <table id="tabla_equipos">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dirección Mac</th>
                        <th>N° de Identificación</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for es in equipos %}
                        <tr>
                            <td>{{ es.equipment.name.rec_name | upper }}</td>
                            <td>{{ es.equipment.mac_address }}</td>
                            <td>{{ es.equipment.identification_number }}</td>
                            {# Estado #}
                            {% if es.state == 'active' %}
                                <td><span class="estado activo">Activo</span></td>
                            {% else %}
                                <td><span class="estado otro">{{ es.state }}</span></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

   
{% endblock content %}

{% block javascripts %}

<!-- --------------------- scripts ----------------------- -->
<script type="text/javascript" src="{{ url_for('static',filename='asset/js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='asset/js/equipos.js') }}"></script>


<!-- -------------------- ionicons ----------------------- -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock javascripts %}
