{% extends "accounts/base.html" %}

{% block title %} Portal {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/portalstyles.css") }}">
{% endblock %}

{% block content %}

    <!-- -------------------------Menu de navegacion-------------------------------->
    <div class="contenedor">
        <div class="navigation">
            <ul>
                <li>
                    <a id="brandname" href="#">
                        <span class="icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </span>
                        <span class="title">Nereida Autogestion</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </span>
                        <span class="title">Resumen</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </span>
                        <span class="title">Comprobantes</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="title">Perfil</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="notifications-outline"></ion-icon>
                        </span>
                        <span class="title">Notificaciones</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Salir</span>
                    </a>
                </li>
            </ul>
            
        </div>

        <!-- -------------------------- Main ------------------------------->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
               
                <div class="user">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </div>
            </div>

            <!-- -------------------- cards -------------------------------->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="data">12/01/24</div>
                        <div class="cardName">Primer vencimiento</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="calendar-outline"></ion-icon>
                    </div>

                </div>

                <div class="card">
                    <div>
                        <div class="data">12/01/24</div>
                        <div class="cardName">Segundo vencimiento</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="calendar-outline"></ion-icon>
                    </div>

                </div>

                <div class="card">
                    <div>
                        <div class="data">$10.000</div>
                        <div class="cardName">Importe</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="logo-usd"></ion-icon>
                    </div>

                </div>

                <div class="card">
                    <div>
                        <div class="data">Pendiente</div>
                        <div class="cardName">Estado</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="alert-outline"></ion-icon>
                    </div>

                </div>
            </div>
            
        </div>

    </div>



{% endblock content %}

{% block javascripts %}

<!-- --------------------- scripts ----------------------- -->
<script type="text/javascript" src="{{ url_for('static',filename='asset/js/main.js') }}"></script>

<!-- -------------------- ionicons ----------------------- -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock javascripts %}
