{% extends "accounts/base.html" %}

{% block title %} Portal {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/portalstyles.css") }}">
{% endblock %}

{% block content %}
    <!-- -------------------- cards -------------------------------->
    {% if subscriptor.vouchers %}
    <div class="cardBox">
        <!--
        <div class="card">
            <div>
                <div class="data">{{ subscriptor.vouchers[-1].first_due_date | dateformat}}</div>
                <div class="cardName">Primer vencimiento</div>
            </div>
            <div class="iconBx">
                <ion-icon name="calendar-outline"></ion-icon>
            </div>
        </div>
        
        <div class="card">
            <div>
                <div class="data">
                {{ subscriptor.vouchers[-1].second_due_date | dateformat }}</div>
                <div class="cardName">Segundo vencimiento</div>
            </div>
            <div class="iconBx">
                <ion-icon name="calendar-outline"></ion-icon>
            </div>
        </div>
        -->
        <div class="card">
            <div>
                <div class="data">{{ subscriptor.vouchers_total_to_pay | currencyformat(subscriptor.vouchers[-1].currency)}}</div>
                <div class="cardName">Importe a pagar hoy</div>
            </div>
            <div class="iconBx">
                <ion-icon style="color:green" name="logo-usd"></ion-icon>
            </div>
        </div>
        
        <div class="card">
            <div>
                {% if subscriptor.vouchers_total_to_pay > 0 %}
                <div class="data">Pendiente de pago</div>
                {% else %}
                <div class="data">No registra deudas</div>
                {% endif %}
                <div class="cardName">Estado</div>
            </div>
            <div class="iconBx">
                {% if subscriptor.vouchers_total_to_pay > 0 %}
                <ion-icon style="color:brown" name="alert-outline"></ion-icon>
                {% else %}
                <ion-icon style="color:green" name="checkmark-outline"></ion-icon>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block javascripts %}

<!-- --------------------- scripts ----------------------- -->
<script type="text/javascript" src="{{ url_for('static',filename='asset/js/main.js') }}"></script>

<!-- -------------------- ionicons ----------------------- -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock javascripts %}
