{% extends "accounts/base.html" %}

{% block title %} Portal {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/notificacionestyles.css") }}?v={{ config.APP_VERSION }}">
{% endblock %}

{% block content %}

    <!-- -------------------------Notificacion-------------------------------->
    <div class="notificaciones">
        <div class="configuracion">
            <h2>Pagina en construcción</h2>
            <ion-icon name="construct-outline"></ion-icon>
        </div>
    </div>
    
{% endblock content %}
{% block javascripts %}

<!-- --------------------- scripts ----------------------- -->
<script type="text/javascript" src="{{ url_for('static',filename='asset/js/main.js') }}?v={{ config.APP_VERSION }}"></script>

<!-- -------------------- ionicons ----------------------- -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock javascripts %}
