{% extends "accounts/base.html" %}

{% block title %} Portal {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/perfilstyles.css") }}">
{% endblock %}

{% block content %}

    <!-- -------------------------Menu de navegacion-------------------------------->
    <div class="contenedor">
        <div class="navigation">
            <ul>
                <li>
                    <a id="brandname" href="#">
                        <span class="icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </span>
                        <span class="title">Nereida Autogestion</span>
                    </a>
                </li>

                <li>
                    <a href="/index">
                        <span class="icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </span>
                        <span class="title">Resumen</span>
                    </a>
                </li>

                <li>
                    <a href="/comprobantes">
                        <span class="icon">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </span>
                        <span class="title">Comprobantes</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="title">Perfil</span>
                    </a>
                </li>

                <li>
                    <a href="/notificaciones">
                        <span class="icon">
                            <ion-icon name="notifications-outline"></ion-icon>
                        </span>
                        <span class="title">Notificaciones</span>
                    </a>
                </li>

                <li>
                    <a href="/logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Salir</span>
                    </a>
                </li>
            </ul>
            
        </div>

        <!-- -------------------------- Main ------------------------------->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="name">
                    <h2>{{ subscriptor.party.rec_name }}</h2>
                </div>
                <div class="user">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </div>
            </div>

            <!-- -------------------- Perfil -------------------------------->
            
            <div class="perfil">
                <div class="configuracion">
                    <h2>Configuracion del perfil</h2>
                    <form action="" method="POST">
                        <div class="username">
                            <input name="nombre" type="text" value="{{ subscriptor.party.rec_name }}" required>
                            <label for="nombre">Nombre</label>
                        </div>
                        <div class="username">
                            <input name="dni" type="text" value="{{ subscriptor.party.dni }}" required>
                            <label for="dni">DNI</label>
                        </div>
                        <div class="username">
                            <input name="direccion" type="text" value="{{ subscriptor.address.rec_name}}" required>
                            <label for="direccion">Dirección</label>
                        </div>
                        <div class="username">
                            <input telefono type="number" value="{{ subscriptor.cellphone }}" required>
                            <label for="telefono">Teléfono</label>
                        </div>
                        <div class="username">
                            <input name="email" type="mail" value="{{ subscriptor.email }}" required>
                            <label for="email">Email</label>
                        </div>
                        <input type="submit" value="Guardar">
                    </form>  
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

{% block javascripts %}

<!-- --------------------- scripts ----------------------- -->
<script type="text/javascript" src="{{ url_for('static',filename='asset/js/main.js') }}"></script>

<!-- -------------------- ionicons ----------------------- -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock javascripts %}
