{% extends "accounts/base.html" %}

{% block title %} Portal {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/perfilstyles.css") }}">
{% endblock %}

{% block content %}

    <!-- -------------------------Menu de navegacion-------------------------------->
    <div class="contenedor">
        <div class="navigation">
            <ul>
                <li>
                    <a id="brandname" href="#">
                        <span class="icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </span>
                        <span class="title">Nereida Autogestion</span>
                    </a>
                </li>

                <li>
                    <a href="/index">
                        <span class="icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </span>
                        <span class="title">Resumen</span>
                    </a>
                </li>

                <li>
                    <a href="/comprobantes">
                        <span class="icon">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </span>
                        <span class="title">Comprobantes</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="title">Perfil</span>
                    </a>
                </li>

                <li>
                    <a href="/notificaciones">
                        <span class="icon">
                            <ion-icon name="notifications-outline"></ion-icon>
                        </span>
                        <span class="title">Notificaciones</span>
                    </a>
                </li>

                <li>
                    <a href="/logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Salir</span>
                    </a>
                </li>
            </ul>
            
        </div>

        <!-- -------------------------- Main ------------------------------->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="name">
                    <h2>{{ subscriptor.party.rec_name }}</h2>
                </div>
                <div class="user">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </div>
            </div>

            <!-- -------------------- Perfil -------------------------------->
            <div class="configuracion">
                <h2>Configuracion del perfil</h2>
                <div class="foto">
                    <h3>Cambiar imagen de perfil</h3>
                    <form action="">
                        <label for="fotoperfil">Sube una imagen de perfil</label>
                        <input type="file" name="fotoPerfil" accept="image/png, .jpeg, .jpg, image/gif">
                        <small><p class="text-center mt-2" id="file-result"></p></small>
                        <button>Guardar</button>
                    </form>
                </div>
                <div class="contrasenia">
                    <h3>Cambiar contraseña</h3>
                    <form action="">
                        <label for="nueva">Nueva contraseña</label>
                        <input type="password" name="nueva" id="nueva">
                        <label for="repetir">Repetir contraseña</label>
                        <input type="password" name="repetir" id="repetir">
                        <button>Guardar</button>
                    </form>
                </div>
            </div>
            
            
        </div>

    </div>



{% endblock content %}

{% block javascripts %}

<!-- --------------------- scripts ----------------------- -->
<script type="text/javascript" src="{{ url_for('static',filename='asset/js/main.js') }}"></script>

<!-- -------------------- ionicons ----------------------- -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock javascripts %}
