{% extends "accounts/base.html" %}

{% block title %} Portal {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block links %}
<link rel="stylesheet" href="{{ url_for("static", filename="asset/css/seguridadstyles.css") }}">
{% endblock %}

{% block content %}

    <!-- -------------------- Seguridad -------------------------------->
    <div class="seguridad">
        <div class="configuracion">
            <form id="f-psw" method="post" onsubmit="return verificarPasswords();">
                {{ form.hidden_tag() }}
                <h2>Cambiar contraseña</h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                    <li style="color: brown;">{{ message }}</li>
                    {% endfor %}
                    </ul>
                    <br>
                {% endif %}
                {% endwith %}
                <div id="error_tamanio" style=" display: none;">
                    <ul>
                        <li style="color: brown; ">La contraseña debe ser mayor a 8 caracteres</li>
                    </ul>
                    <br>
                </div>
                {{ form.password(class="form-control",id="psw",placeholder="Contraseña actual", required=true) }}
                <ion-icon  class="ojo" id="actual" name="eye-outline"></ion-icon>
                {{ form.new_password( class="form-control", placeholder="Nueva contraseña",id="new_psw", required=true) }}
                <ion-icon  class="ojo" id="nueva" name="eye-outline"></ion-icon>
                {{ form.password_confirmation( class="form-control", placeholder="Repetir contraseña", id="repite_psw", required=true) }}
                <ion-icon  class="ojo" id="repite" name="eye-outline"></ion-icon>
                <input type="submit" value="Guardar">
            </form>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}

<!-- --------------------- scripts ----------------------- -->
<script type="text/javascript" src="{{ url_for('static',filename='asset/js/seguridad.js') }}"></script>

<!-- -------------------- ionicons ----------------------- -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock javascripts %}
