{% extends "accounts/base.html" %}

{% block title %} Portal {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='asset/css/pago_exitoso.css') }}">
{% endblock %}

{% block content %}

        <!-- 🔊 SONIDO AGREGADO -->
        <audio id="pay-sound" src="{{ url_for('static', filename='asset/media/mi_audio.mp3') }}"></audio>

        <div style="display:flex; justify-content:center; align-items:center; height:75vh; flex-direction:column;">
            <div class="spinner"></div>
            <p style="margin-top:15px; color:#555;">Procesando pago...</p>
        </div>

        <!-- ANIMACIÓN -->
        <div id="animacion" style="display:none;">
            <div class="full-green"></div>
            <div class="white-circle"></div>

            <div class="final-view">
                <svg class="final-icon" viewBox="0 0 50 50">
                    <circle cx="25" cy="25" r="25" fill="#25AE88"/>
                    <polyline points="38,15 22,33 12,25"
                        fill="none" stroke="white"
                        stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <div class="final-title">Pago exitoso</div>
                <div class="final-amount">$ 5.200,00</div>
            </div>
        </div>

{% endblock content %}
{% block javascripts %}

<!-- --------------------- scripts ----------------------- -->
<!-- Metemos un spinner, zoom in, zoom out, aparecer el mensaje de pago exitoso -->
<script>
    setTimeout(() => {
        document.querySelector(".spinner").style.display = "none";
        document.getElementById("animacion").style.display = "block";

        // 🔊 SONIDO EXACTAMENTE CUANDO EXPLOTA EL CÍRCULO
        setTimeout(() => {
            document.getElementById("pay-sound").play();
        }, 1200);

    }, 2000);
</script>
<!-- -------------------- ionicons ----------------------- -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='asset/js/main.js') }}"></script>
<script>
    console.log('pagina de pago exitoso ok')
</script>

{% endblock javascripts %}
