/* Boton pago. getsscan.com/css-buttons-examples */

.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 600;
  outline: 0;
  padding: 12px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 115px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 12px 40px;
  }
} 


/*generate-qr-link */
.generate-qr-link {
  align-items: center;
  background-color: rgba(69, 178, 211, 0.84);
  border-radius: 5px;
  border-width: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 12px;
  font-weight: 200;
  width: 120px;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.generate-qr-link:hover {
  background-color: rgba(45, 173, 212, 0.84);
  color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .generate-qr-link {
    font-size: 14px;
    padding: 7px 7px;
    width: 140px;
  }
}
