/*----------------------- List ----------------------------- */

.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
}

.details .comprobantes{
    position: relative;
    display: grid;
    min-height: 200px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0,0, 0.08);
    border-radius: 20px;
    overflow-x: auto;
}

.details .cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
    color: var(--blue);
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px;
}

.details table{
    font-size: 14px;
    width: 80%;
    border-collapse: collapse;
    font-family: 'Rubik', sans-serif;
}

/* Header de tabla */
.details table thead th{
    font-weight: 600;
    color: var(--white);
    background: #343a3b;
	position: sticky;
	text-align: center;
	top: 0;
}

.details .comprobantes table tr{
    color: var(--blue);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .comprobantes table tr:last-child{
    border-bottom: none;
}

/* Celdas */
.details .comprobantes table tr td{
    padding: 10px;
    text-align: center;
}

/* ------- Estados -------- */
.estado.pagado{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
} 

.estado.pendiente{
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.estado.otro{
    padding: 2px 4px;
    background: rgb(199, 202, 39);
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

/* Botón comprobante */
.comprobante{
    text-decoration: none;
    padding: 2px 4px;
    background: var(--orange);
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.comprobante:hover{
    color: var(--blue);
}

/* Contenedor con scroll */
.div-table {
    overflow-x: auto;
}

/*------------------- Paginación DataTables ---------------------*/

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
    background: none !important;
    background-color: var(--blue) !important;
    color: white !important;
    border: 1px solid var(--blue) !important;
    box-shadow: none !important;
}

/*---------------- Filas par/impar personalizadas ----------------*/

table.dataTable tbody tr.even {
    background-color: #66ffcc !important;
}

table.dataTable tbody tr.odd {
    background-color: #9999ff !important;
}

/*------------- Hover azul (DataTables restaurado) ---------------*/

table.dataTable tbody tr:hover {
    background-color: #0000e6 !important;
    color: #000 !important;
}

/*--------------------------- Diseño responsivo -------------------------*/
@media (max-width: 991px) {

}
