/*----------------------- Notificacion ----------------------------- */
.notificaciones{
	display: flex;
	justify-content: center;
}
.configuracion{
	text-align: center;
	width: 500px;
	background: var(--white);
	padding: 20px;
	box-shadow: 0 7px 25px rgba(0, 0,0, 0.08);
	border-radius: 20px;
	margin: 40px;

}
.configuracion h2{
	padding-top: 20px;
}
.configuracion ion-icon{
	padding: 20px;
	font-size: 200px;
}


/*---------------------------Diseño responsivo -------------------------*/

@media (max-width:991px) {

	.configuracion{
		width: 400px;
		padding: 20px;

	}
}
	
	