/*--------------------------- seguridad -------------------------*/

.seguridad{
	display: flex;
	justify-content: center;
}

.configuracion{
	width: 400px;
	background: var(--white);
	padding: 20px;
	box-shadow: 0 7px 25px rgba(0, 0,0, 0.08);
	border-radius: 20px;
	margin: 10px 0 20px 0;
}

.configuracion h2{
	font-family: 'Rubik', sans-serif;
	color: var(--blue);
	text-align: center;
	padding: 0 0 20px 0;
	border-bottom: 1px solid silver;
	margin-bottom: 20px;
}

.configuracion form{
	padding: 20px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

.configuracion .mensaje{
	color: brown;
	display: none;
}

.configuracion label, .configuracion input::placeholder{
	font-size: 16px;
	color: #adadad;
	left: 5px;
	margin-bottom: 10px;
	
}

.configuracion input{
	padding: 14px 10px;
	border: 2px solid var(--blue);
	border-radius: 5px;
	/*margin-bottom: 25px;*/
	outline: none;
	color: var(--orange);
	font-size: 16px;
}

.configuracion .ojo{
	font-size: 30px;
	transform: translate(280px, -40px);
	cursor: pointer;
	color: var(--blue);
}

.configuracion #actual_cerrado, .configuracion  #nueva_cerrado, .configuracion  #repite_cerrado{
	display: none;
}

input[type="submit"]{
	background-color: var(--blue);
	font-size: 14px;
	color: var(--white);
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid;
	font-weight:700;
}

input[type="submit"]:hover{
	border-color: rgb(3, 3, 85);
	transition: .5s;
}

/*---------------------------Diseño responsivo -------------------------*/

@media (max-width:991px) {
	.configuracion form{
		padding: 0 20px;
	}
	.configuracion{
		width: 400px;
		padding: 20px;
	}
}
	
	